 //colors
 $lightGreen: #54e6af;
 $white: #fff;
 $veryDarkGreen: #121725;
 $lightbluish: #c2cbe5;
 $lightGray: #5a668a;
 $darkGray: #2c344b;
 $btnHover: #B3FFE2;
 $error:#FB3E3E;


$maxWidth-mobile: 327;