*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Chivo", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-weight: 400;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

p, h1 {
  font-weight: 100;
}

body {
  background-color: #121725;
  color: #fff;
  text-align: center;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  background-image: url(../assets/mobile/image-host.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: difference;
  opacity: 0.15;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -9999;
}

.header,
.hero {
  width: calc(100vw - 2.25rem);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  padding: 3.875rem 0 3.5625rem;
}

.hero__heading {
  font-size: 1.625rem;
  color: #54e6af;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 1rem;
}
.hero__heading span {
  color: #fff;
}
.hero__para {
  font-size: 0.9375rem;
  line-height: 1.67;
  color: #c2cbe5;
  margin-bottom: 2.0625rem;
}
.hero-social {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1.875rem;
  align-items: center;
}
.hero-cta-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.hero-form {
  margin-bottom: 2.5rem;
}

.email-box {
  border-radius: 6.25rem;
  background-color: #2c344b;
  border: none;
  width: 20.4375rem;
  height: 3rem;
  padding: 0rem 0rem 0rem 1.5rem;
  color: #fff;
  font-family: "Chivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
.email-box::placeholder {
  font-family: "Chivo", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
}
.email-box:focus {
  outline: none;
}

.submit-btn {
  border-radius: 6.25rem;
  border: none;
  width: 20.4375rem;
  height: 3rem;
  background-color: #54e6af;
  font-weight: 400;
  font-family: "Chivo", sans-serif;
  font-size: 0.875rem;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
}

.error-msg {
  font-size: 0.75rem;
  line-height: 1.166;
  color: #FB3E3E;
  font-weight: 400;
  margin: 0.5rem 0rem 0rem 1.5rem;
}

@media (min-width: 768px) {
  body {
    text-align: left;
  }
  body::before {
    background-image: url(../assets/tablet/image-host.jpg);
    background-size: 30.6875rem 47.9375rem;
    background-position: right top;
    mix-blend-mode: lighten;
    opacity: 0.8;
  }
  body::after {
    content: "";
    background-image: url(../assets/svg/bg-pattern-dots.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 14.5rem 6.5rem;
    position: absolute;
    width: 14.5rem;
    height: 6.5rem;
    bottom: 0;
    left: 0;
    transform: translateX(1.875rem);
  }
  .header,
  .hero {
    width: calc(100vw - 2.5rem);
    align-items: flex-start;
  }
  .header {
    padding: 3.125rem 0 9.5rem;
  }
  .hero {
    padding-top: 5.8125rem;
    background-color: #121725;
    width: 39.6875rem;
    margin-left: 2.4375rem;
  }
  .hero__heading {
    font-size: 3rem;
    line-height: 1.17;
    margin-bottom: 1.9375rem;
  }
  .hero__para {
    font-size: 1.125rem;
    line-height: 1.56;
    width: 27.8125rem;
    height: auto;
    margin-bottom: 2.5rem;
  }
  .hero-social {
    width: 100%;
    grid-template-columns: repeat(4, max-content);
    justify-items: left;
    margin-bottom: 0;
  }
  .hero-cta-container {
    flex-direction: row;
    gap: 1rem;
  }
  .hero-form {
    margin-bottom: 4rem;
  }
  .email-box {
    width: 26.6875rem;
    height: 3.5rem;
    padding: 0rem 10.875rem 0rem 1.5rem;
  }
  .email-box::placeholder {
    font-family: "Chivo", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #fff;
  }
  .email-box:focus {
    outline: none;
  }
  .submit-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.3125rem;
    width: 10.125rem;
  }
}
@media (min-width: 1024px) {
  body::before {
    background-image: url(../assets/desktop/image-host.jpg);
    background-size: 55.5rem 40rem;
    background-position: right center;
  }
  body::after {
    background-position: right bottom;
    bottom: 6.5%;
    transform: translate(0);
    right: 0;
    left: unset;
  }
  .header {
    max-width: calc(100vw - 20.625rem);
    padding: 5rem 0rem;
  }
  .hero {
    margin-left: 10.3125rem;
    padding-top: 5.5rem;
    padding-bottom: 1.875rem;
    width: 45.1875rem;
  }
  .hero__heading {
    font-size: 3.25rem;
    line-height: 1.19;
    margin-bottom: 1.5rem;
  }
  .hero-form {
    height: 4.875rem;
  }
  .submit-btn:hover {
    background-color: #B3FFE2;
    cursor: pointer;
  }
}

/*# sourceMappingURL=style.css.map */
